* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #333333;
  width: 90%;
  padding-left: 20px;
  font-family: "Roboto", serif;
}

main {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}

article {
  background-color: #f5f5f5;
  margin: 20px;
  padding: 10px;
  box-shadow: 2px 3px 4px #333333a4;
  flex-basis: 30%;
}

.hovered {
  border: #f39c12 2px solid;
  scale: 1.2;
}

.filterbar {
  background-color: #f39c12;
  border: none;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.filterbar button {
  border: none;
  background-color: #f39c12;
  width: 20%;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  border: #f39c12 solid 2px;
  border-radius: 10px;
  margin: 10px;
}

.articlecontainer {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  padding-left: 20px;
  margin-top: 10px;
  font-weight: 500;
}

h3 {
  background-color: #5f9ade;
  padding: 10px;
  margin: -10px;
  display: flex;
  justify-content: space-between;
}

h4 {
  margin-top: 20px;
  font-size: 14px;
  font-style: italic;
  color: #333333d8;
}
